<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.junctiontech.homeonline" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainScreen"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Appointment"
            android:label="@string/title_activity_task"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".STEP1"
            android:label="@string/title_activity_step1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LivingRoom"
            android:label="@string/title_activity_living_room"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".STEP2"
            android:label="@string/title_activity_step2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BedRoom"
            android:label="@string/title_activity_bed_room"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BathRoom"
            android:label="@string/title_activity_bath_room"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Kitchen"
            android:label="@string/title_activity_kitchen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WashDry"
            android:label="@string/title_activity_wash_area"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Pricing1"
            android:label="@string/title_activity_pricing1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ResidentialD1"
            android:label="@string/title_activity_residential_d1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SocietyData1"
            android:label="@string/title_activity_society_d1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ImageSelection"
            android:label="@string/title_activity_image_selection"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PropertyDetails"
            android:label="@string/title_activity_property_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".UploadIamge"
            android:label="@string/title_activity_upload_iamge" >
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".ViewImage"
            android:label="@string/title_activity_view_image"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".Prefs"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AboutUs"
            android:label="@string/title_activity_about_us"
            android:theme="@style/Base.Theme.AppCompat.Light.Dialog.Alert"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".OpenGallery"
            android:label="@string/title_activity_open_gallery" >
        </activity>
        <activity
            android:name=".AdvertiserDetail"
            android:label="@string/title_activity_advertiser_detail"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".NewGallery"
            android:label="@string/title_activity_new_gallery"
            android:screenOrientation="portrait">
        </activity>


        <!--     <receiver
                android:name=".UninstallReceiver"
                android:enabled="true"
                android:exported="true"
                android:priority="999" >
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED" >
                    </action>
                    <action android:name="android.intent.action.PACKAGE_REMOVED" >
                    </action>
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
              <receiver
                   android:name="com.junction.homeoffline.UninstallReceiver"
                   android:enabled="true"
                   android:exported="true"
                   android:priority="999" >
                   <intent-filter>
                       <action android:name="android.intent.action.PACKAGE_ADDED" >
                       </action>
                       <action android:name="android.intent.action.PACKAGE_REMOVED" >
                       </action>
                       <data android:scheme="package" />
                   </intent-filter>
               </receiver>

       -->
    </application>

</manifest>
